# any png files
*.png

# any excel files
*.xlsx

# any csv files
*.csv

# any json files
*.json

# any tsv files
*.tsv

#any pptx files
*.pptx

#any venv
*.venv

#any pyc
*.pyc

#any docx files
*.docx

#Outputs folder
SPC Charts/
pdfs/

#email files folder
email files/

#The wierd thumbs.db file that's appeared
*.db